
@require './common.styl'

.root
  display block
  text-align center
  a
    @extend $link-light-with-visited
    text-decoration none

.genre
  font-size 0.7em

.title
  font-size 1.3em
  margin-bottom 0.1ex

.event
  font-size 0.8em
  margin-top 0.4ex
