
@require './common.styl'

.root
  display block
  text-align center
  a
    @extend $link-light-with-visited
    text-decoration none

.genre
  font-size 0.7em

.title
  font-size 1.3em
  margin-bottom 0.1ex

.event
  font-size 0.8em
  margin-top 0.4ex

.links
  font-size 0.7em
  margin-top 1em

.link
  display inline-block
  background #eee
  border 1px solid #fff
  border-bottom-color #aaa
  border-right-color #aaa
  line-height: 18px
  padding 0 5px 0
  position relative
  > img
    vertical-align top
    position relative
    margin-right -2px
    top 1px

.bubble
  position absolute
  bottom 22px
  left 50%
  transform translate(-50%, 0)
  line-height 15px
  white-space nowrap
  background #66649A
  color #fff
  z-index 10
  padding 3px 5px
  border-radius 3px
  opacity 1
  transition 0.4s opacity, 0.4s transform
  &::before
    position absolute
    content ''
    display block
    width 0
    height 0
    bottom -5px
    left 50%
    border 5px solid transparent
    border-top-color #66649a
    border-bottom-width 0
    transform translate(-50%, 0)

.link:not(.unacked):not(:hover) .bubble
  pointer-events none
  opacity 0
  transform translate(-50%, -5px)

.linkItem:not(:first-child)
  margin-left 3px
