
@require './common.styl'

.root
  display block
  text-align center
  a
    @extend $link-light-with-visited
    text-decoration none

.genre
  font-size 0.7em

.title
  font-size 1.3em
  margin-bottom 0.1ex

.event
  font-size 0.8em
  margin-top 0.4ex

.links
  font-size 0.7em
  margin-top 1em

.link
  display inline-block
  background #eee
  border 1px solid #fff
  border-bottom-color #aaa
  border-right-color #aaa
  line-height: 18px
  padding 0 5px 0
  > img
    vertical-align top
    position relative
    margin-right -2px
    top 1px

.linkItem:not(:first-child)
  margin-left 3px
