
.root
  display block
  text-align center
  font-size 0.7em
  padding-top 1em

.checkbox
  cursor pointer
  margin 0 0.5ex

.checkbox > input
  appearance none
  display inline-block
  width 1em
  height 1em
  border 1px solid #aaa
  vertical-align middle
  position relative
  top -1px
  &:checked
    background #aaa

.checkboxUnchecked
  color #888
  &:hover
    color #666
