
@require './common.styl'

.root
  display block
  font-size 0.75em
  list-style none
  margin 0
  padding 0 0 0 3.5em

.timestampLink
  color inherit
  text-decoration none

.title
  @extend $link-light-with-visited
  text-decoration none

.timestamp
  color #6ca26c
  margin-left -3.5em
  display inline-block
  width 3em
  margin-right 0.5em
  text-align right

.genre
  color #666
  margin-left -1em
