
@require './common.styl'

.root
  background #669
  border-bottom 3px solid #333
  padding 1em 2em
  border-left 1px solid #CCC
  border-top 1px solid #CCC

  > h1
    font-size 1.2em

.tagline
  font-size 0.8em

.m3u
  font-weight normal
  color #99c
  a
    text-decoration none
    @extend $link-dark
